img {
	width:30%;
	margin:1.66%;
	float:left;
}
body{
	bacground-color: antiquewhite;
}

h1{
	font-family: raleway;
	font-size: 23px;
	font weight:800;
	text-transform: uppercase;
	border-bottom: #f1f1f1 2px solid ;
	width:30%;
	margin:auto;
	padding-bottom:20px;
	text-align:center;
}