<%- include('partials/header.ejs'); %> 
<%- include('partials/navbar.ejs'); %>
    
    <h1>the home-page.</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iste eos, 
       vero molestiae voluptatibus est libero nisi accusantium maiores! Consectetur 
       repudiandae accusamus vel debitis tempore officia repellendus labore accusantium veniam.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iste eos, 
       vero molestiae voluptatibus est libero nisi accusantium maiores! Consectetur 
       repudiandae accusamus vel debitis tempore officia repellendus labore accusantium veniam.</p>
       
<%- include('partials/footer.ejs'); %>
